#section-card {
  flex: 65%;
  padding: 75px;
}
#card-stack{
  position: relative;
}
.card {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 32px);
  height: calc((100vh - 7vh) - 30vh);
}
.card-data-container{
  display: flex;
  flex-direction: column;
}
.card-data-question{
  font-size: 25px;
  text-align: center;
  font-weight: 700;
}
.card-data-interlocutor{
  display: flex;
}
.card-data-interlocutor-profil{
  font-size: 10px;
  padding: 15px;
}
.card-data-interlocutor-description{
  font-size: 15px;
  padding: 15px;
}

.card-container {
  perspective: 1000px;
  width: 100%;
  height: 500px;
  margin: 50px auto;
}

.card-design {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card-design .side{
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border-radius: 8px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 2vh;
  transition: transform 0.3s ease-in-out;
}

.back{
  transform: rotateY(180deg);
  translate: -4vh;
}

.btn-container {
  text-align: center;
}

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #2ecc71;
  color: white;
  border: none;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
