*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(70,130,180);
    margin-bottom: 20px ;
}

.box{
    position: absolute;
    top:0;
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    box-shadow:  0 3px 10px rgba(232, 232, 232, 0.3);
    border-bottom: 4px solid #d9d9d9;
    margin: 10px;
}

.flip-card{
    border-radius: 5px;
    box-shadow:  0 3px 10px rgba(0,0,0,0.5);
    border: 4px solid white;
    border-bottom: 4px solid #d9d9d9;
}

.game_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows:repeat(4, 1fr) ;
    grid-gap: 1em;
}

img {
    width: 110px;
    cursor: pointer;
}


.game_controls{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 10px;
}

.time{
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    font-weight: bolder;
}

.found{
    opacity: 50%;
    cursor: default;
}

button{
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 5px;
    position: relative;
    color: #454141;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-align: center;
    text-indent: 5px;
    cursor: pointer;
    padding: 0 5px;
    display: inline;
    margin: 20px auto 20px;
}

button:active {
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    top: 1px;
}


@media screen and (min-width:780px){
    .game_grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr) ;
        grid-template-rows:repeat(4, 1fr) ;
        grid-gap: 1em;
    }
    img {
        width: 200px;
    }
    button{
        width: 180px;
        height: 60px;
        font-size: 20px;
    }
    .game_start{
        margin-right: 10px;
    }
}

@media screen and (min-width:950px){
    .game_grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr) ;
        grid-template-rows:repeat(3, 1fr) ;
        grid-gap: 1em;
    }
    img {
        width: 200px;
    }
}


@media screen and (min-width:1450px){
    .game_grid{
        display: grid;
        grid-template-columns: repeat(6, 1fr) ;
        grid-template-rows:repeat(2, 1fr) ;
        grid-gap: 1em;
    }
    img {
        width: 200px;
    }
}

