<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flippable Card</title>
  <link rel="stylesheet" href="../static/style/style.css">
  <link rel="stylesheet" href="../static/style/carte.css">
</head>
<body>
  <section id="section-card">
    <div id="card-stack">

    </div>
  </section>

<!-- <div class="card-container">
  <div class="card-design">
    <div class="side front">
      <p>Front Content</p>
      <div class="btn-container">
        <button class="btn flip-btn agree">D'accord</button>
        <button class="btn flip-btn disagree">Pas d'accord</button>
      </div>
    </div>
    <div class="side back">
      Back Content
    </div>
  </div>
</div> -->

<script type="module" src="../static/script/Card.js"></script>
<script type="module" src="../static/script/main.js"></script>
<script src="../static/script/carte.js"></script>
</body>
</html>
