<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design Example</title>
    <link rel="stylesheet" href="../style/style.css">
  </head>
  <body>
    <header id="header">
      <h1>Climat Master</h1>
    </header>
    <main>
      <section id="section-gauge">
      </section>
      <section id="section-card">
        <div id="card-stack">

        </div>
       <!-- <div class="card">
          <header class="card-header">
            <h2>Temperature</h2>
          </header>
          <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean placerat lacus neque, non pulvinar arcu
              tempus eu. Donec cursus felis sed finibus facilisis.</p>
            <div>

            </div>
          </div>
        </div>-->
      </section>
    </main>
  <script type="module" src="../script/main.js"></script>
  </body>
</html>
