<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Climat Master</title>
    <link rel="stylesheet" href="../static/style/start.css">
  </head>

  <body>
    <h1>Climat Master</h1>
    <div id="image">
    <img src="../static/pictures/image2.svg" alt="bonhomme page start">
    </div>
    <div id="intro_description">
       <p name="toto">Bonjour et bienvenue !</p>
       <p>J'ai besoin de votre aide pour prendre des décisions !</p>
   
       <a href="homepage" id = "firstbutton"><button> commencer à jouer</button></a>
     </div>
     
     <div align="center">
       <div name="bloc">
       </div>
     </div>
  </body>


</html>